{{^if @member}}
<div class="subscribe-section{{#if is_footer}} is-footer{{else}} is-hero{{/if}}">
	<div class="subscribe-wrap">
		<h3>{{t "Get the email newsletter and unlock access to members-only content and updates"}}</h3>
		<form data-members-form="subscribe" class="subscribe-form">
			<input data-members-email type="email" placeholder="{{t "Your email address"}}" aria-label="{{t "Your email address"}}" required>
			<button class="global-button-arrow" type="submit">{{>icons/site/arrow}}{{t "Subscribe"}}</button>
		</form>
		<div class="subscribe-alert">
			<small class="alert-loading global-alert">{{t "Processing your application"}}</small>
			<small class="alert-success global-alert">{{t "Please check your inbox and click the link to confirm your subscription"}}</small>
			<small class="alert-error global-alert">{{t "There was an error sending the email"}}</small>
		</div>
	</div>
</div>
{{else}}
{{#if is_footer}}
{{#if @site.description}}<span class="footer-description">{{@site.description}}</span>{{/if}}
{{/if}}
{{/if}}